@model MisOfertas.Web.Models.HomeView
@{
    ViewBag.Title = "Mis Ofertas";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MisOfertas</title>
    <!-- Bootstrap core CSS -->
    <link href="Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="Content/css/heroic-features.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MisOfertas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <div class="container">
        <center><img class="text-center" src="~/Images/bbar.png" width="500" height="110" /></center>
        <hr />
        <fieldset>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.Label("Rubro", "Filtrar:", new { @class = "col-md-1" })
                    <div class="col-md-2">
                        @Html.EnumDropDownListFor(m => m.RubroReg, new { @class = "form-control" })
                    </div>
                    @Html.Label("Valoracion", "Valoracion:", new { @class = "col-md-1" })
                    <div class="col-md-1">
                        @Html.EditorFor(m => m.Valoracion, new { htmlAttributes = new { @type = "number", @class = "form-control", @min = "0", @max = "5", @step = "1", @value = "0" } })
                        @*<input type="number" name="Valor" class="form-control" min="1" max="5" />*@
                    </div>
                    <div class="form-actions form-actions-clean col-sm-offset-3">
                        <input type="submit" value="Buscar" class="btn btn-group" />
                    </div>
                </div>
            }
        </fieldset>
        <hr />

        <!-- Page Features -->
        <div class="row text-center">
            @{ var conta = 0;}
            @foreach (var item in Model.OfertasTabla)
            {
                conta++;
                var img = String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.Imagen));
                var estado = "N/A";
                if (item.Disponible == "T")
                {
                    estado = "Disponible";
                }
                else
                {
                    estado = "No Disponible";
                }

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="@img" alt="">
                        <div class="card-body">
                            <h4 class="card-title" style="color:black;">@item.Nombre</h4>
                            <p class="card-text">Valoracion: @item.Valoracion</p>
                            <p class="card-text">Estado: @estado</p>
                        </div>
                        @{
                            Session["" + @conta + ""] = item;
                        }
                        <div class="card-footer">
                            @Html.ActionLink("Mas!", "More", "Home",new { @class="btn btn-primary", @style = "color:darkorange;", id=@conta},null)
                        </div>
                    </div>
                </div>
            }

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <br />
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; MisOfertas 2018</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="Content/vendor/jquery/jquery.min.js"></script>
    <script src="Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<style>
    .btn.btn-primary {
        background: #ff9900 none repeat scroll 0 0;
        border-color: #f0ad4e;
        color: #ffffff;
        font-size: 14px;
        width: 20%;
        height: 50px;
        line-height: 50px;
        padding: 0;
    }

    .forgot {
        text-align: left;
        margin-bottom: 30px;
    }

    .botto-text {
        color: #ffffff;
        font-size: 14px;
        margin: auto;
    }

    .btn.btn-primary.reset {
        background: #ff9900 none repeat scroll 0 0;
    }

    .back {
        text-align: left;
        margin-top: 10px;
    }

        .back a {
            color: #444444;
            font-size: 13px;
            text-decoration: none;
        }
</style>


