@model MisOfertas.Web.Models.MoreInfo
@{
    ViewBag.Title = "More";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/shop-item.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MisOfertas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <center><h1 class="my-4">Detalle del Producto</h1></center>
    <hr />
    @{ 
        var img = String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Ofertas.Imagen));
    }
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- /.col-lg-3 class="col-lg-9" -->
            <div>
                <div class="card mt-4">
                    <center><img class="card-img-top img-fluid" src="@img" width="300" height="300" alt=""></center>
                    <center>
                        <div class="card-body">
                            <h3 class="card-title" style="color:darkorange;">@Model.Ofertas.Nombre</h3>
                            <h4>$@Model.Ofertas.Valor</h4>
                            <p><h4>@Model.Ofertas.Descripcion</h4></p>

                            @{
                                if (Model.Ofertas.Valoracion == 1)
                                {
                                    <span class="text-warning">&#9733; &#9734; &#9734; &#9734; &#9734;</span> @Html.Label("1 Valoracion")
                                }
                                else if (Model.Ofertas.Valoracion == 2)
                                {
                                    <span class="text-warning">&#9733; &#9733; &#9734; &#9734; &#9734;</span> @Html.Label("2 Valoraciones")
                                }
                                else if (Model.Ofertas.Valoracion == 3)
                                {
                                    <span class="text-warning">&#9733; &#9733; &#9733; &#9734; &#9734;</span> @Html.Label("3 Valoraciones")
                                }
                                else if (Model.Ofertas.Valoracion == 4)
                                {
                                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span> @Html.Label("4 Valoraciones")
                                }
                                else if (Model.Ofertas.Valoracion == 5)
                                {
                                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733;</span> @Html.Label("5 Valoraciones")
                                }
                            }
                        </div>
                    </center>
                </div>
                <!-- /.card -->
                <div class="card card-outline-secondary my-4">
                    <div class="card-body">
                        <hr>
                        @using (Html.BeginForm("More", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                        <div class="form-group">
                            @Html.Label("Boleta", "Boleta:", new { @class = "col-md-1" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Img, new { @type = "file" })
                            </div>
                            @Html.Label("Valoracion", "Valoracion:", new { @class = "col-md-1" })
                            <div class="col-md-1">
                                @Html.EditorFor(m => m.Valora, new { htmlAttributes = new { @type = "number", @class = "form-control", @min = "1", @max = "5", @step = "1", @value = "2" } })
                                @*<input type="number" name="Valor" class="form-control" min="1" max="5" />*@
                            </div>
                            <div class="form-actions form-actions-clean col-sm-offset-3">
                                <input type="submit" value="Valorar" style="background-color:orange;" class="btn btn-group" />
                            </div>
                            <center><h4>@ViewBag.Error</h4></center>
                            <center><h4>@ViewBag.Mensaje</h4></center>
                        </div>
                        }
                            <center>
                                @if (Session["Button"].ToString() == "D")
                                {
                                    <input type="submit" value="Descarga Certificado" disabled="disabled" style="background-color:orange;" class="btn btn-group" />
                                }
                                else
                                {
                                    <input type="submit" value="Descarga Certificado" style="background-color:orange;" onclick="window.location='/Home/Certificado';" class="btn btn-group" />
                                }
                            </center>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
    </div>
    <!-- /.container -->
    <br />
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; MisOfertas 2018</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="Content/vendor/jquery/jquery.min.js"></script>
    <script src="Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>

<style>
    .btn.btn-primary {
        background: #ff9900 none repeat scroll 0 0;
        border-color: #f0ad4e;
        color: #ffffff;
        font-size: 14px;
        width: 10%;
        height: 50px;
        line-height: 50px;
        padding: 0;
    }

    .forgot {
        text-align: left;
        margin-bottom: 30px;
    }

    .botto-text {
        color: #ffffff;
        font-size: 14px;
        margin: auto;
    }

    .btn.btn-primary.reset {
        background: #ff9900 none repeat scroll 0 0;
    }

    .back {
        text-align: left;
        margin-top: 10px;
    }

        .back a {
            color: #444444;
            font-size: 13px;
            text-decoration: none;
        }
</style>


